@model IEnumerable<FurnitureShopProjectRazil.Models.Testimonial>

@{
    ViewData["Title"] = "Müştəri Rəyləri";
    // Standart şəkil yolu, əgər rəy verənin şəkli yoxdursa.
    // Bu faylın wwwroot/images/default-person.png ünvanında olduğundan əmin olun.
    string defaultImagePath = Url.Content("~/images/default-person.png");
}

<!-- Start Testimonial Slider -->
<div class="testimonial-section before-footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">@ViewData["Title"]</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                @if (Model != null && Model.Any())
                {
                    <div class="testimonial-slider-wrap text-center">

                        <div id="testimonial-nav">
                            <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                            <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                        </div>

                        <div class="testimonial-slider">

                            @foreach (var testimonial in Model)
                            {
                                <div class="item">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 mx-auto">

                                            <div class="testimonial-block text-center">
                                                <blockquote class="mb-5">
                                                    <p>“@Html.Raw(testimonial.Content.Replace("\n", "<br />"))”</p>
                                                </blockquote>

                                                <div class="author-info">
                                                    <div class="author-pic">
                                                        @if (!string.IsNullOrEmpty(testimonial.ImagePath))
                                                        {
                                                            <img src="@Url.Content(testimonial.ImagePath)" alt="@testimonial.AuthorFullName" class="img-fluid">
                                                        }
                                                        else
                                                        {
                                                            <img src="@defaultImagePath" alt="Şəkil yoxdur" class="img-fluid">
                                                        }
                                                    </div>
                                                    <h3 class="font-weight-bold">@testimonial.AuthorFullName</h3>
                                                    <span class="position d-block mb-3">@testimonial.AuthorTitle</span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- END item -->
                            }
                        </div> @* End .testimonial-slider *@
                    </div> @* End .testimonial-slider-wrap *@
                }
                else
                {
                    <div class="text-center mt-5">
                        <p>Hazırda heç bir müştəri rəyi mövcud deyil.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->
@section Scripts {
    <script>
        // Bu hissə sizin şablonunuzun testimonial slider-ı üçün lazım olan JavaScript kodunu
        // aktivləşdirmək üçün ola bilər. Adətən şablonun öz skriptləri bunu avtomatik edir.
        // Əgər xüsusi bir inicializasiya lazımdırsa, onu bura əlavə edin. Məsələn:
        // $(document).ready(function(){
        //     if ($('.testimonial-slider').length > 0) {
        //         // Slider plugin-inizin inicializasiya kodu
        //         // $('.testimonial-slider').slick({ ... });
        //         // və ya
        //         // var slider = tns({ container: '.testimonial-slider', ... });
        //     }
        // });
    </script>
}